@{
    ViewBag.Title = "Home Page";
}

<main class="index-main">
    <h1 class="index-title">Ejercicio 6 de MVC - Razor y BackEnd con c#</h1>
    <section class="index-container">
        <h2>Ignacio Galcerán</h2>
        <h3>Puntos principales del ejercicio 6</h3>
        <p>Este ejercicio número 6, consta de un CRUD (Insertar, Leer, Actualizar y Eliminar) de clientes en la base de datos de Northwind</p>
        <p>Para ello, usaremos la tecnologia MVC Razor que provee microsoft</p>
        <p>Para comunicar la vista con el código backend, utilizaremos peticiones HTTP a través de AJAX.</p>
        <p>Este ejercicio proporciona una comprensión práctica de cómo gestionar datos de clientes utilizando un enfoque CRUD.</p>
        <p>Estas habilidades son esenciales en el desarrollo de aplicaciones web y sistemas de gestión de datos.</p>
    </section>
</main>