h1 {
    text-align: center;
    font-weight: 500;
    padding: 20px 0;
}

@media only screen and (min-width: 1px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .input-container {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .form {
        display: flex;
        flex-direction: column;
        border: 1px solid #222;
        border-radius: 5px;
        box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
        padding: 30px;
        margin: 20px 42% 10px 58%;
    }
}

@media only screen and (min-width: 900px) {

    .form {
        width: 55%;
        margin: 20px auto;
    }

}