<router-outlet></router-outlet>
<app-sidebar></app-sidebar>
<footer class="footer">
    <div class="footer-content">
      <div class="contact-info">
        <h3>Contacto</h3>
        <p>Nombre: Ignacio Galceran</p>
        <p>Dirección: Rosario, Santa Fe</p>
        <p>Estudio: Ingeniería en Sistemas</p>
        <p>Teléfono: +54 3462 536843</p>
        <p>Correo Electrónico: igna.galceran@gmail.com</p>
      </div>
      <div class="exercise-info">
        <h3>Ejercicio</h3>
        <p>El ejercicio 8 consistió en desarrollar una aplicación frontend usando el Framework 'Angular', y llevé a cabo
        esta solución, la cual consume tres diferentes API's:</p>
        <ul>
          <li>Una API creada en C# con .NET Framework (Web API).</li>
          <li>Una API pública para obtener latitud y longitud de una determinada ciudad.</li>
          <li>Una API pública para obtener información meteorológica basada en la localización obtenida de la API anterior.</li>
        </ul>
      </div>
    </div>
</footer>
