h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    padding: 20px;
}

.container {
    min-height: 100vh;
}

.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
  }
  
.description h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}
  
.description p {
    font-size: 1.2em;
    margin: 10px 0;
}
  
.description ul {
    list-style: disc;
    margin-left: 20px;
}
  
.description li {
    font-size: 1.2em;
}