h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    padding: 20px;
}

.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
  }
  
.description h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}
  
.description p {
    font-size: 1.2em;
    margin: 10px 0;
}
  
.description ul {
    list-style: disc;
    margin-left: 20px;
}
  
.description li {
    font-size: 1.2em;
}

.main-container {
    transition: background-color 1s;
    background-color: #ECE9E6;
    min-height: 100vh;
}

.main-darkContainer {
    transition: background-color 1s;
    background-color: rgb(23, 25, 27);
    min-height: 100vh;
}

.main-container h1, .main-container h2, .main-container p, .main-container li {
    transition: color 1s;
    color: #333;
}

.main-darkContainer h1, .main-darkContainer h2, .main-darkContainer p, .main-darkContainer li {
    transition: color 1s;
    color: aliceblue;
}