<div class="{{!isDarkMode? 'customers-container' : 'customers-darkContainer'}}">
  <h1>Lista de Customers</h1>
  <mat-spinner class="spinner" *ngIf="loading" diameter="50"></mat-spinner>

  <div class="options-container" *ngIf="!loading && !error">
    <div class="input-container">
      <mat-label class="label">Buscar</mat-label>
      <div class="div-input">
        <input matInput (keyup)="applyFilter($event)" placeholder="Escribe para buscar"> 
        <span class="material-icons">
          search
        </span>
      </div>
    </div>

    <div class="add" *ngIf="!loading && !error" [routerLink]="['/customers/form']">
      <button class="btn btn-info">+ Añadir cliente</button>
    </div> 
  </div>

  <p *ngIf="error" class="error">{{ errMessage }}</p>

  <div *ngIf="!loading && !error" class="mat-elevation-z5 table-container">
    <table mat-table [dataSource]="dataSource">
      
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Nombre y apellido </th>
          <td mat-cell *matCellDef="let customer"> {{ customer.ContactName }} </td>
        </ng-container>
        
        <ng-container matColumnDef="Company">
          <th mat-header-cell *matHeaderCellDef> Compañía </th>
          <td mat-cell *matCellDef="let customer"> {{ customer.CompanyName }} </td>
        </ng-container>
        
        <ng-container matColumnDef="City">
          <th mat-header-cell *matHeaderCellDef> Ciudad </th>
          <td mat-cell *matCellDef="let customer"> {{ customer.City }} </td>
        </ng-container>

        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let customer">
            <mat-icon (click)="handleClick(customer.CustomerID)"  class="icon">delete</mat-icon>
            <mat-icon class="icon" [routerLink]="['/customers/form', customer.CustomerID]">edit</mat-icon>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>

  <mat-paginator
    class="paginator"
    [hidden]="loading || error"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    [pageSize]="5"
    >
    </mat-paginator>

</div>
