.contact-container {
    transition: background-color 1s;
    background-color: #ECE9E6;
    min-height: 100vh;
}

.contact-darkContainer {
    transition: background-color 1s;
    background-color: rgb(23, 25, 27);
    min-height: 100vh;
}

.contact-darkContainer h1, 
.contact-darkContainer h2,
.contact-darkContainer p,
.contact-darkContainer label {
    transition: color 1s;
    color: #fff;
}

.contact-darkContainer .div-container {
    transition: background-color 1s;
    background-color: rgb(23, 25, 27);
    box-shadow: 0 0 5px 5px rgba(141, 141, 141, 0.2);
}

.contact-container .div-container {
    transition: background-color 1s;
    background-color: #ECE9E6;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.contact-darkContainer input, 
.contact-darkContainer textarea {
    transition: background-color 1s;
    background-color: rgb(196, 198, 201);
}

.contact-container input,
.contact-container textarea {
    transition: color 1s;
    color: #fff;
}

.contact-darkContainer button {
    transition: background-color 1s;
    background-color: #ECE9E6;
    transition: color 1s;
    color: #000;
}

h1 {
    margin: 0;
    padding: 20px;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

.div-container {
    max-width: 800px;
    margin: 0 auto 10px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #5e5959;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 5px 0;
}

form {
    margin-top: 20px;
}

label {
    font-weight: 500;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    transition: background-color 1s;
    background-color: #333;
    transition: color 1s;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}