@media only screen and (min-width: 1px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 130px;
        background-color: #171b1d;
        opacity: 0.95;
    }

    .hamburger {
        position: fixed;
        left: 5px;
        top: 3px;
        color: #fff;
        cursor: pointer;
    }

    .toggle-container {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .toggle-off, .toggle-on {
        color: aliceblue;
        cursor: pointer;
    }

    .toggle-off:hover, .toggle-on:hover {
        color: darkgray;
    }

    .light, .light:hover {
        color: rgb(255, 166, 0);
    }

    .dark, .dark:hover {
       color: #fff;
    }

    .sidebar.inactive {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 40px;
        opacity: 0.95;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        padding: 24px 10px;
        list-style: none;
    }

    li {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        color: #fff;
        cursor: pointer;
    }

    span:hover {
        color: rgb(122, 255, 158);
    }

    a {
        text-decoration: none;
        color: inherit;
      }
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        width: 160px;
    }

    .sidebar.inactive {
        width: 70px;
    }

    ul {
        padding: 10px;
        list-style: none;
    }
}

@media only screen and (min-width: 1500px) {
    .sidebar {
        width: 200px;
    }
}

.active {
    color: rgb(77, 255, 169);
}