<aside [ngClass]="{'active': sidebarOpen}" class="sidebar">
    <nav>
      <div [ngClass]="{'ulActive': sidebarOpen}">
        <ul>
          <span (click)="toggleSidebar()" class="material-icons hamburger">menu</span>
          <li>
            <a [routerLink]="['/home']">
              <span *ngIf="sidebarOpen" class="material-icons">home</span>
              <span *ngIf="!sidebarOpen">Home</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/dashboard']">
              <span *ngIf="sidebarOpen" class="material-icons">help</span>
              <span *ngIf="!sidebarOpen">Dashboard</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/contact']">
              <span *ngIf="sidebarOpen" class="material-icons">contact_page</span>
              <span *ngIf="!sidebarOpen">Contact</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/customers']">
              <span *ngIf="sidebarOpen" class="material-icons">person_2</span>
              <span *ngIf="!sidebarOpen">Customers</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
